.container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;

  @include mq(medium) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include mq(small) {
    padding-left: 20px;
    padding-right: 20px;
  }
}