@mixin mq($key) {
    @if breakpoint($key) {
        @media #{breakpoint($key)} { @content; }
    }
}

/*
    This provides a helper for easily adding breakpoint-aware properties an values.

    $properties:
        can be a single property `padding` or list of properties `(padding-left, padding-right)`
    $breakpoints:
        has to be a map of the breakpoint name defined in $breakpoints and the value to be set
        for the given properties, e.g. `(default: 100px, medium: 50px, small: 25px)`

    IMPORTANT: You should always give a "default". This will be the default value and not be wrapped in an @media (...)

    Example:
    ```
        @include responsive((
          margin-top,
          margin-bottom
        ), (
          default: 100px,
          medium: 50px,
          small: 25px
        ));
    ```
 */

@mixin responsive($properties, $breakpoints) {
    @each $breakpointKey, $propertyValue in $breakpoints {
        @if($breakpointKey == default) {
            @each $property in $properties {
                #{$property}: $propertyValue
            }
        } @else {
            @media #{breakpoint($breakpointKey)} {
                @each $property in $properties {
                    #{$property}: $propertyValue
                }
            }
        }
    }
}
