# This sets the registry and npm token for our FontAwesomePro.
# You can find the token on "https://fontawesome.com/account#pro-package-tokens"
# Login can be found in our Bitwarden.

# Make a copy of this file and name it ".npmrc" and replace "$FONT_AWESOME_PRO_TOKEN" with the real token.
# You have to keep the two slashes for it to work. Really just replace the var with the token

# WARNING: Don't change this file - the CI depends on it! Don't commit and push the token!

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=$FONTAWESOME_NPM_AUTH_TOKEN
